/* :host { display: block; min-height: 2.5rem; } */


:where(:host) {
	.podcast-player {
		line-height: 1.5;
		color: #fff;
		/* Step 0: 14px → 18.72px */
		/* font-size: clamp(14px, 1.5rem, 16px); */
		position: fixed;
		z-index: 110;
		/* z-index: 999999; */
		inset: 0;
		width: min(100% - 2rem, var(--content-width) + 17.30rem);
		display: flex;
		height: fit-content;
		overflow: hidden;
		overflow: visible;
		> * { flex-wrap: nowrap; }
	}

	.podcast-player header {
		overflow: hidden;
		border-top-left-radius: inherit;
		border-bottom-left-radius: inherit;
		background-position: top center;
		background-size: cover;
		background-color: #ffffff80;
		filter: sepia(.25);
		box-shadow: inset 0px 1px #11111120, inset 0px 2px rgb(255 255 255 / .2),
			0 0 .5em .25em hsl(70deg 75% 15% / 30%) inset,
			0 0 1.5em .5em hsl(70deg 75% 15% / 50%) inset;
		/* width: 9em;
		min-width: 9em;
		height: 9em; */
		/* height: 9rem; */
		width: 9rem;
		aspect-ratio: 1;
		transition: all .3s ease-in-out;
		transition: opacity .2s ease-in-out, filter .2s ease-in-out;
		transition: opacity .2s var(--back-out), filter .2s var(--back-out);
		&::after {
			content: "";
			display: block;
			background: hsl(var(--clr-hue) 50% 10% / 30%);
			width: 1.5px;
			height: 100%;
			margin-block: 2px;
			position: absolute;
			inset: 0;
			margin-inline-start: auto;
		}
	}
	.podcast-player .main {
		display: flex;
		flex-direction: column;
		/* justify-content: space-evenly; */
		/* gap: 1rem; */
		padding: 1rem;
		/* padding-inline-end: .5rem; */
		padding-inline-start: 1.25rem;
		padding-inline-end: .75rem;
		transition: opacity .6s ease-out;
		transition: opacity .6s var(--back-out);

		&> :nth-child(1) {
			display: grid;
			align-content: start;
			grid-template-columns: auto auto 1fr auto;
			gap: .5rem;
		}
		
		&> :nth-child(2) {
			display: grid;
			align-content: start;
			grid-template-columns: 1fr auto;
			gap: .5rem;
		}
	}

	.podcast-player footer {
		display: flex;
		flex-direction: column;
		padding-block: 1rem;
		padding-inline: 0 1rem;

		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		align-items: center;
		isolation: isolate;
	}
	.podcast-player h3 {
		color: #fff;
		margin: 0;
		max-width: 100%;
		font-family: var(--font-3);
		/* font-family: var(--font-1); */
		font-size: clamp(14px, 0.7122rem + 0.8138vw, 18.72px);
		font-weight: 400;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: inline-block;
		text-shadow: var(--text-shadow);
		letter-spacing: .025rem;
	}

	.podcast-player .controls {
		font-family: var(--font-1);
		color: var(--text-color);
		accent-color: hsl(var(--clr-hue) var(--clr-sat) var(--clr-lig));
		container-type: inline-size;
	}

	.podcast-player time {
		opacity: .8;
		display: inline-block;
		/* width: 2.5em; */
		text-align: center;
		/* letter-spacing: .1em; */
		font-variant-numeric: tabular-nums;
		font-family: var(--font-2);
		/* font-family: var(--monospace-font); */
		/* color: var(--range-color-base, #111); */
		/* font-size: clamp(0, 0.7122rem + 0.8138vw, 18.72px);  */
		font-size: medium;
		color: hsl(var(--clr-hue) var(--clr-sat) 12.5% / 100%);
	}

	.podcast-player .audio-title {
		margin: 0;
		max-width: 100%;
		/* max-width: calc(100% - 2rem); */
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: inline-block;
	}

	/* @media (width < 800px) { */
	@media (--lg-n-below) {
		/* .podcast-player { grid-template-columns: 1fr auto; } */

		.podcast-player header {
			display: none;
		}

		.podcast-player .main {
			& > :nth-child(1) { 
				grid-template-columns: auto auto 1fr;
				margin-inline-end: .25rem;
			}
			& > :nth-child(2) {
				grid-template-columns: 1fr auto auto;
				margin-inline-end: .5rem;
				margin-inline-end: .25rem;
			}
		}

		.volume-group[class],
		#time-display-end {
			display: none;
		}
		
		/* disable textured bg */
		/* .controls-surface-2:has(.volume-group) {
			padding: 0; 
			background-color: transparent;
			display: contents;
		} */
	}

	/* @media (width < 360px) { */
	@media (--xs-n-below) {
		.podcast-player > :nth-child(1) {
			grid-template-columns: auto auto 1fr auto;
		}

		#time-display-current > *:not(button),
		#time-display-end {
			display: none;
		}
		*:has( > .share-button) {
			/* outline: solid 1px red; */
			background-color: transparent;
			background-image: none;
			border: none;
			padding-inline: 1rem 0;
			box-shadow: none;
			margin-inline-start: auto;
			filter: invert(1);
			.share-button svg {
				color: #fff;
				text-shadow: 1px 1px 0 3px #000000;
			}
		}
		/* #scrubber { width: 100%; } */
	}
}