:where(:host) {
	/* 5. variations */

	/* 5.1 */
	.podcast-player[data-position=top] { 
		margin: auto;
		margin-top: calc(var(--player-offset-top) + var(--wp-admin--admin-bar--height, 0px));
		transform: translateY(-100%);
		border-radius: 0 0 1rem 1rem;
		border-radius: 0 0 var(--player-border-radius) var(--player-border-radius);
		/*  */
		border-radius: var(--player-border-radius);
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		/*  */
		.main { flex-direction: column-reverse; }
		footer {
			/* top: unset; */
			flex-direction: column-reverse;
			.icon-move svg { transform: scaley(-1); }
		}
	}
	.podcast-player[data-position=top].show { 
		transform: translateY(0px);
	}
	@media (pointer: fine) {
		.podcast-player[data-position=top]:has(.icon-move:hover) {
			transform: translatey(6px);
			/* @media (pointer: fine) {  */
				.icon-move { translate: 0 -3px; } 
			/* } */
		}
	}

	/* 5.1 responsivity */
	/* @media (width < 800px) { */
	@media (--lg-n-below) {
		.podcast-player[data-position=top].show {
			margin-top: calc(var(--player-offset-top-small) + var(--wp-admin--admin-bar--height, 0px));
		}
		/* @media (pointer: fine) {
			.podcast-player[data-position=top].show:has(.icon-move:hover) {
				transform: translatey(3px);
			}
		} */
	}


	/* 5.2 */
	/* [data-variation=floating][data-position=top].show:has(.icon-move:hover) {
		@media (pointer: fine) {
			transform: translatey(6px);
		}
	} */
	/* 5.2 responsivity */
	/* @media (width >= 800px) { */
	@media (--lg-n-above) {
		.podcast-player[data-variation=floating] {
			margin-bottom: .75rem;
			border-radius: var(--player-border-radius);
		}
		.podcast-player[data-variation=floating][data-position=top] { 
			margin-block: .75rem 0;
			margin-top: calc(.75rem + var(--player-offset-top) + var(--wp-admin--admin-bar--height, 0px));
		}
	}

	/* 5.3 */
	/* .podcast-player[data-this=that] { ... } */
	/* 5.3 responsivity */
	/* @media (--lg-n-below) { { ... } */
}