fieldset {
    accent-color: var(--pp-color);
    background-color: light-dark(#ddd, #111);
    display: grid;
    border-radius: 3px;
    gap: 1lh;
    margin-block: 1.5lh;
    padding: .5lh 1lh;

    legend { font-weight: bold; padding-inline: .25lh; }
    :is(h2, h3) { margin-block-end: 0; }

    pre:has(code):not([slot=code]) {
        background-color: #fff;
        color: #000; 
        padding: 1lh 1lh; 
        overflow: auto; 
        display: block; 
        max-width: 100%; 
    }
    pre:has(code:not([slot=code])),
    code-block {
        @media (prefers-color-scheme: dark) { filter: invert(1) hue-rotate(180deg); }
    }
    pre:has(code) {
        white-space: pre-wrap; word-wrap: break-word;
    }
    code-block {
        /* ! this didn't work here: white-space: pre-wrap; word-wrap: break-word; */
        max-width: 100%;
        display: block;
        overflow-x: auto;
        @media (prefers-color-scheme: dark) { filter: invert(1) hue-rotate(180deg); }
        button { margin-block-start: 2em; }
    }

    & > label { 
        display: grid;
        gap: .5lh;
        align-items: center; 
        grid-template-columns: auto 1fr 5rem;
        @media (width < 600px ) { grid-template-columns: 1fr; }
    }
}