:where(:host) {
	.podcast-icon {
		/* all: initial; */
		/* outline: solid 3px purple; */
		-webkit-appearance: none;
		font-family: var(--font-1);
		cursor: pointer;
		border: none;
		color: #444;
		/* width: 1.5rem; */
		/* width: fit-content; */
		width: auto;
		height: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		border-radius: 12px;
		background-color: hsl(var(--clr-hue) 40% 77% / 96%);
		background-image: var(--grain-pattern);
		box-shadow: inset 0px 1px #11111140, inset 0px 2px rgb(255 255 255 / .60);
		transition: all .2s ease-in-out;
		transition: all .2s var(--back-out);
		transform-origin: center;
		place-content: center;
		svg { height: 1rem; }
		&:where(footer .podcast-icon) {
			background-color: hsl(var(--clr-hue) 40% 77% / 85%);
		}
		&:hover {
			background-color: hsl(var(--clr-hue) 30% 90% / 85%);
			color: #000;
			transform: scale(1.075);
		}
		&:active {
			scale: .95;
			background-color: hsl(var(--clr-hue) 30% 98% / 100%);
		}
	}
	select.podcast-icon {
		display: grid; 
		place-content: center;
		text-align: center; 
		border-radius: 8px; 
		font-size: .8rem; 
		font-weight: bold; 
		font-family: var(--font-1);
		/* width: 4rem; */
		border-radius: 12px; 
		width: auto; 
		width: fit-content;
		padding-inline: 1ch;
		&:not(:focus-visible):focus {
			outline: none;
		}
	}

	.icon-button {
		-webkit-appearance: none;
		font-family: var(--font-1);
		display: grid; 
		place-content: center;
		width: 1rem; 
		height: 1rem;
		border-radius: 8px;
		border: 0;
		padding: 0;
		&.ghost {
			background: none;
			color: inherit;
		}
	}

	.play-pause {
		--_size: 2.5rem;
		--_size: 3.25rem;
		--_size: 2.75rem;
		width: var(--_size);
		height: var(--_size);
		margin-inline-end: -1rem;
		background-color: hsl(var(--clr-hue) 30% 80%);
		position: relative;
		z-index: 2;
		svg {
			height: 1.5rem;
		}
		>:nth-child(1) svg {
			/* optically center triangle shape */
			/* (push "play" icon to the right a little) */
			margin-inline-start: calc(var(--_size) / 10);
		}
		& + * {
			padding-inline-start: 1rem !important;
			&.controls-surface {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-left: 0;
			}
		}
	}

	.button-icon[class] {
		scale: .75;
		scale: .65;
		width: 1.5rem; 
		height: 1.5rem;
	}

	.mute {
		padding-inline: .25rem;
	}

	/***/

	/* button UI imperative logic */
	.play-pause > * {
		display: none;
		align-content: center;
	}
	.pp-wrapper:not(.audio-playing):not(.audio-paused) .play-pause {
		& > :nth-child(1) { display: flex; }
	}
	.pp-wrapper.audio-playing .play-pause {
		& > :nth-child(2) { display: flex; }
	}
	.pp-wrapper.audio-paused .play-pause {
		& > :nth-child(1) { display: flex; }
	}
}