/* postcss-custom-media */
@custom-media --xs-n-below (width < 360px);
/* @custom-media --lg-n-below (width < 920px);
@custom-media --lg-n-above (width >= 920px); */
@custom-media --lg-n-below (width < 800px);
@custom-media --lg-n-above (width >= 800px);
/* https://github.com/argyleink/open-props/blob/main/src/props.media.css */
